.row-bg {
  background-image: url("../Images/smartphones.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: px;
  opacity: 1;
}
/*Carousel styling*/
.carousel-item {
  height: 580px
}
/*Carousel styling
.carousel-content {
  color: #f793c8;
  font-size: xx-large;
  position: absolute;
  bottom: 60%;
  left: 40%*/

/*Carousel styling*/
.h3-responsive {
  color:#190a5e;
}
