body{
  overflow-x: hidden;
}

/*Carousel styling*/
.carousel-item {
  height: 580px
}

/*Carousel styling*/
.h3-responsive {
  color:#190a5e;
}

/*Menu in small screens*/
#navbarSupportedContent{
  background-color:#190a5e;
  max-width: 150px;
  padding: 10px;
}
.dropdown-menu.show {
  display: block;
  width: fit-content;
}
