.img-phones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
}

.ad-text-phones {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}

.phone-padding {
    padding-top: 50px;
}

.modal-header {
background-color: #f793c8;
background-image: linear-gradient(315deg, #f793c8 0%, #190a5e 40%);

}

.modal-title {
    color:white;
}

.fa-shopping-cart{
    color:white;
}

/*login popup*/
#passwordMessage {
    display: none;
}
#userLoggedIn {
    display: none;
}

/* Buy now button*/
#buyNowButton {
    display: none;

}


#emailMessage {
    display:none;
}



/*Login button
#loginButton {
    display: none;
}*/